<div class="jumbotron">
    <h2><strong>Reviews for {{title}}</strong></h2>
    <p>Good to the last Drop!</p> 
</div>
<table class='table table-striped'>
	<tr>
		<th>Reviewer</th>
		<th>Comment</th>
		<th>Rating</th>
	</tr>
	<tr ng-repeat="review in reviews">
		<td>{{review.reviewer}}</td>
		<td>{{review.comment}}</td>
		<td>{{review.rating}}</td>
	</tr>
</table>
