<div class="jumbotron">
    <h1>My Coffees in St.Louis</h1>
    <p>Find the one!</p> 
</div>
<form role="form">
    <div class="form-group">
      <label for="usr">Search:</label>
      <input type="text" class="form-control" placeholder="Enter Coffee, Brand or Country" ng-model="query">
    </div>
  </form>
<table class='table table-striped'>
	<tr>
		<th>Review</th>
		<th>Brand</th>
		<th>Coffee title</th>
		<th>Country</th>
	</tr>
	<tr ng-repeat="coffee in coffees | filter:query | orderBy:'name'">
		<td><a href="#/view2" ng-click='setID(coffee.id)'>Review</a></td>
		<td>{{coffee.brand}}</td>
		<td>{{coffee.name}}</td>
		<td>{{coffee.country}}</td>
	</tr>
</table>